<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Ім'я користувача</label>
            <input type="text" name="username" id="id_username" autofocus required />
        </p>
        <p>
            <label>Пароль</label>
            <input type="password" name="password" id="id_password" required />
        </p>
        <button type="submit">Увійти</button>
    </form>
    {% if form.errors %}
        <p>Ім'я користувача або пароль невірні.</p>
    {% endif %}
</body>
</html>