{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-6">
        <h3>Вивантаження сертифікату курсу: <a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h3>
        <hr/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_certificate" class="control-label  requiredField">
                Сертифікат </label>
            <div class="controls">
                {% if certificate %}
                    <span>Поточний:</span> <a href="{{ certificate.url }}">{{ certificate.url|truncatechars:50 }}</a>
                {% endif %}
                <input type="file" name="certificate" id="id_certificate" required /><br/>
            </div>
            <input type="submit" class="btn btn-default" value="Відправити" />
        </form>
    </div>
{% endblock content %}