{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h3>{{ title }}</h3>
        <hr/>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-default" value={% if submit %} "{{ submit }}"
                                                                {% else %}" {{ title }}"
                                                                {% endif %} />
            {% if login %}
                <a style="float: right;" href="{% url 'password_reset' %}">Забули пароль?</a>
            {% endif %}
        </form>
    </div>
{% endblock content %}
