{% extends "blog/base.html" %}

{% block content %}
  {% if validlink %}
    <h3>Замініть пароль</h3>
    <form method="post">
      {% csrf_token %}
      <p><label for="id_new_password1">Новий пароль:</label>
        <input type="password" name="new_password1" id="id_new_password1" required="">
        <span class="helptext"></span>
      </p>
      <ul>
        <li>Не використовуйте у якості пароля персональну інформацію.</li>
        <li>Мінімальна довжина паролю - 8 символів.</li>
        <li>Пароль не може складатися лише з цифр.</li>
      </ul><p></p>
      <p><label for="id_new_password2">Підтвердіть пароль:</label>
        <input type="password" name="new_password2" id="id_new_password2" required=""></p>
      <button type="submit">Змінити пароль</button>
    </form>
  {% else %}
    <p>
        Посилання на скидання паролю є недійсним, можливо, бо вже було викоритане.
        Будь ласка, зробіть запит на нове скидання паролю.
    </p>
  {% endif %}
{% endblock %}