{% extends "blog/base.html" %}

{% block update_menu %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категорія <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url "blog:category_update" slug=category.slug %}">Редагувати</a></li>
        </ul>
    </li>
{% endblock update_menu %}

{% block content %}
    {% if course_list %}
        {% for course in course_list %}
            <div class="shadow col-md-5">
                <img src="{{ course.logo_url }}"
                     alt="{{ course.name }}"
                     class="sc-item-image img-responsive center-block" />
                <div class="text-center">
                    <h3><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h3>
                    <h4>Дата публікації:
                        <span class="label label-info">{{ course.pub_date }}</span></h4>
                    <h4>Автор:
                        <a href="{% url "accounts:profile" user=course.author.username %}">
            {{ course.author.get_full_name }}</a></h4>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-12">
            <nav>
                <ul class="pager">
                    {% if course_list.has_previous %}
                        <li class="previous"><a href="?{{ page_request_var }}={{ course_list.previous_page_number }}
                            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                                <span aria-hidden="true">&larr;</span> Попередня</a>
                        </li>
                    {% endif %}
                    {% if course_list.has_next %}
                        <li class="next"><a href="?{{ page_request_var }}={{ course_list.next_page_number }}
                            {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            Наступна <span aria-hidden="true">&rarr;</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <h4 class="text-center">Немає доступних курсів.</h4>
    {% endif %}
{% endblock content %}
