<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <a href="#" class="list-group-item disabled">
            Рекомендовані курси
            </a>
            {% for course in user_cabinet_courses %}
                {% for related_course in course.related_courses.all %}
                    <a href="{{ related_course.get_absolute_url }}" class="list-group-item">
                        {{ related_course.name }}
                    </a>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
