{% extends "blog/base_navbar.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block back_link %}
    <li><a href="{% url "moderator:applicants_list" %}">Заявки</a> </li>
{% endblock %}

{% block content %}
    <h1>{{ applicant.name }}</h1>
    <img class="img-responsive" src="{{ applicant.logotype.url }}" alt="{{ applicant.name }}" class="img-responsive"/><br>
    <small>Категорія:{{ applicant.category }}</small> <br>
    <small>Дата додавання: {{ applicant.pub_date }}</small> <br>
    {% if course.author.get_full_name %}
        <small>Автор: {{ applicant.author.get_full_name }}</small><br>
    {% endif %}
    <span>URL-адреса:</span><a href="{{ applicant.course_url }}">{{ applicant.course_url }}</a> <br>
    <p>{{ applicant.describe }}</p>
    <form class="none_block" method="POST" action="{% url "moderator:accept" applicant.slug %}">
            {% csrf_token %}
            <input type="submit" value="Прийняти" class="btn btn-primary"/>
    </form>
     <form class="none_block" method="POST" action="{% url "moderator:decline" applicant.slug %}">
            {% csrf_token %}
            <input type="submit" value="Відхилити" class="btn btn-warning"/>
    </form>
    <hr/>
{% endblock content %}