{% extends "blog/base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block back_link %}
    <li><a href="{% url "moderator:applicants_list" %}">Заявки</a> </li>
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="{% url "moderator:statistic" %}">
                {% csrf_token %}
                <input type="submit" value="Показати статистику" class="btn btn-primary"/>
        </form>
        <hr/>
        <div class="container">
            <h2>Статистика категорій</h2>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Категорія</th>
                        <th>Кількість курсів</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row_static in category_stat %}
                        <tr>
                            <td>{{ row_static.content_object.name }}</td>
                            <td>{{ row_static.course_count  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Статистика авторів</h2>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Кількість курсів</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row_static in author_stat %}
                        <tr>
                            <td>{{ row_static.content_object.username }}</td>
                            <td>{{ row_static.course_count  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Статистика курсів</h2>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Курс</th>
                        <th>Кількість користувачів</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row_static in course_popular %}
                        <tr>
                            <td>{{ row_static.content_object.name }}</td>
                            <td>{{ row_static.users_count  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Статистика авторів</h2>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Кількість користувачів</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author, count in author_popular.items %}
                        <tr>
                            <td>{{ author }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}